
@{
    ViewBag.Title = "HOME";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Admin</title>
</head>
<body class="preloading">
    <!-- Hiệu ứng load -->
    <div class="load">
        <img src="loader.gif">
    </div>
    <div class="content">
        <p>Ullamco nonummy malesuada irure. Provident, occaecati! Facilis praesentium urna, iaculis euismod dolorem aliquip mattis. Dapibus viverra, felis mattis! Nihil dui, inventore! A omnis auctor, pellentesque varius vero adipisicing nulla facilisis dapibus non accusamus consectetuer. Autem ac praesentium. Sapiente wisi voluptates. Posuere, natus lacus interdum senectus senectus fermentum a, fringilla lacus? Doloremque facilisis sint curae! Accusantium veniam quis, risus dolorum, vero diamlorem porttitor auctor voluptatum elementum orci error unde volutpat, quasi consequat amet adipiscing cubilia at vestibulum tempora per hymenaeos beatae! Velit? Doloremque deserunt ab, quisquam magnam velit ipsam similique minim habitasse urna incididunt nostrud, quos totam eius quae adipisicing non.</p>

        <p>Tristique placerat aliqua nascetur ducimus repellat diamlorem cras cillum luctus! Aptent est iusto sunt, tenetur, eveniet. Montes similique, minima deserunt optio ad ab lacus! Mus, odit distinctio tempor magna maiores. Magna earum nostrum aliquam interdum impedit pellentesque montes nibh iste! Expedita imperdiet iste mi aptent dolorum quos sequi voluptate eum class curae quia sed? Ullamco sollicitudin! Vero, aptent cillum ratione! Dolorum semper dictum veritatis ratione porro eius pariatur excepteur hendrerit? Auctor rutrum. Nesciunt tempore aptent veniam, proin ullamco! Laoreet sagittis voluptatum, praesentium pellentesque unde! Ullamcorper pariatur minim, blandit incididunt fugit. Lacus dolorem wisi illum sapiente doloremque possimus esse urna accusamus.</p>

        <p>Nec nunc cum pariatur phasellus ab duis qui incididunt alias molestias commodi, nec quam neque, euismod, debitis consectetur error excepturi, malesuada! Provident, incidunt voluptate, hendrerit eius quas iste, tempore consectetur. Dolorum illo quasi. Neque, wisi? Ducimus numquam mattis venenatis laudantium? Eaque dictumst, magnam montes adipisci nihil eaque numquam? Exercitation quod sem possimus neque litora urna quibusdam, voluptatem. Animi gravida sagittis, tempore aliquip magnam duis eos! Diam, cubilia architecto dolorum incidunt metus commodi, ratione error nostrum pulvinar, platea sequi. Facilis volutpat! Quidem, dicta, eligendi, quos! Anim, felis diam tristique, volutpat ligula, vel, dolorum aspernatur eos, pariatur, debitis libero exercitationem aliquet. Lacus.</p>
    </div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>

