@using Models.EF
@using DoAnWeb.Controllers

@{ 
    List<Models.EF.Field> industries = ViewBag.industries;
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="card-industry p-4 mt-7">
                <h3 class="heading mt-5 text-center">Hi! How can we help You?</h3>
                @using (Html.BeginForm("Index", "Company", FormMethod.Post))
                 {
                 <div class="d-flex justify-content-center px-5">
                    <div class="search">
                        <input type="text" class="search-input" placeholder="Search..." value="@ViewBag.SearchKeyword" name="name"><button type="submit" class="fa fa-search search-icon"></button>
                    </div>
                 </div>
                 }
                <div class="row mt-4 g-1 px-4 mb-5">
                    @foreach (Field item in industries)
                     {
                        <a class="col-md-2" style="width: 100px">
                            <div class="card-inner p-4 d-flex flex-column align-items-center">
                                <img src="https://i.imgur.com/Mb8kaPV.png" width="50">
                                <div class="text-center mg-text"  style="height: 30px"> <span class="mg-text">@item.FieldName</span> </div>
                            </div>
                        </a>
                     }

                </div>
            </div>
        </div>
    </div>
</div>
