@model IEnumerable<Models.EF.Company>
@{
    ViewBag.Title = "COMPANY";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@using DoAnWeb.Models;
@using Models;

<section>
    @RenderPage("../Shared/Search_section.cshtml")
</section>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-between mb-3">
        <span class="text-uppercase">Top Company</span>
        @{var session = (LoginModel)Session[Constants.USER_SESSION];
            if (session != null)
            {
                <a href="@Url.Action("Insert", "Company")" class="btn btn-secondary add">Request new company</a>
            }
            else
            {
                <button type="button" class="btn btn-secondary add" data-bs-toggle="modal" data-bs-target="#errorModal">Request new company</button>
            }
        }

    </div>
    @RenderPage("~/Views/Shared/Company_section.cshtml")
</div>

<div class="modal fade" id="errorModal" style="text-align: left" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Sign in to continue</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                To request a new company, you must be signed in. Your identity will remain anonymous.
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                <a href="@Url.Action("Index", "Login")" class="btn btn-primary">Go to sign in</a>
            </div>
        </div>
    </div>
</div>
