@model IEnumerable<Models.EF.Company>
@{
    ViewBag.Title = "COMPANY";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<section>
    @RenderPage("../Shared/Search_section.cshtml")
</section>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-between mb-3">
        <span class="text-uppercase">List Company</span> <a href="@Url.Action("Insert", "Company")" class="btn btn-secondary add">
            Request new company
        </a>
    </div>
    @RenderPage("~/Views/Shared/Company_section.cshtml")
</div>
