
@{
    Layout = null;
}
@{
    ViewBag.Title = "ADMINHOME";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminHome</title>
</head>
<body>
    <div>
        ĐÂY LÀ TRANG CHỦ ADMIN
    </div>
</body>
</html>
