
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<main>
    <section class="section section-lg bg-soft pt-0">
        <div class="container">
            <div class="col-12 text-center">
                @RenderPage("~/Views/Company/Index.cshtml")
            </div>
        </div>
    </section>
</main>


<section class="section position-relative">
    @*Feature*@
    <div class="text-center mb-5">
        <h1>Make better career decisions</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5 mb-lg-6">
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                    <img src="~/Assets/img/stack.svg" alt="Lastest Review" class="icon icon-md text-secondary" />
                </div>
                <p class="text-gray">Lastest Review</p>
            </div>
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                    <img src="~/Assets/img/feedback.png" alt="Comprehensive ratings" class="icon icon-md text-secondary" />
                </div>
                <p class="text-gray">Comprehensive ratings</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                    <img src="~/Assets/img/person.png" alt="By real employees" class="icon icon-md text-secondary" />
                </div>
                <p class="text-gray">By real employees</p>
            </div>
        </div>
    </div>
</section>


