
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="section">
    @*Search section*@
    <div class="position-relative mb-12">
        <div class="search-wrapper">
            <div class="input-holder">
                <input type="text" class="search-input" placeholder="Type to search" />
                <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
            </div>
            <span class="close" onclick="searchToggle(this, event);"></span>
        </div>
    </div>

    @*Feature*@
    <div class="text-center mb-5">
        <h1>Make better career decisions</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5 mb-lg-6">
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                    <img src="~/Assets/img/stack.svg" alt="Lastest Review" class="icon icon-md text-secondary" />
                </div>
                <p class="text-gray">Lastest Review</p>
            </div>
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                    <img src="~/Assets/img/feedback.png" alt="Comprehensive ratings" class="icon icon-md text-secondary" />
                </div>
                <p class="text-gray">Comprehensive ratings</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                    <img src="~/Assets/img/person.png" alt="By real employees" class="icon icon-md text-secondary" />
                </div>
                <p class="text-gray">By real employees</p>
            </div>
        </div>
    </div>
</section>
