
@model IEnumerable<Models.EF.Company>
<section>
    @RenderPage("../Shared/Search_section.cshtml")
</section>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-between mb-3">
        <span class="text-uppercase">Top company</span> <a href="@Url.Action("Index", "Company")" class="btn btn-secondary add">
            View all
        </a>
    </div>
    <div class="row g-2 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <a class="card p-2 py-3 pb-3 text-center">
                    <div class="img mb-2"> <img src="~/Assets/img/Logo/@item.Logo" width="80" height="80" class="rounded-circle"> </div>
                    <h5 class="mt-2" style="height: 50px; text-align: center; vertical-align: middle">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <div class="ratings mt-2" style="color: black"> <i class="fa fa-star"> @item.Rating</i> </div>
                </a>
            </div>
        }
    </div>
</div>



